* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

h1{
background: black;
text-align: center;
border-width: 3.5px;
border-color: red;
border-style: dashed;
box-shadow: 5px 5px 5px 5px rgb(245, 116, 116);    
}

body {
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
background: purple;
color: #fff;
font-size: 1.2rem;
}

p {
margin-top: 1.5rem;
background: blue;
border-width: 3.3px;
border-color: springgreen;
border-style: dashed;
box-shadow: 5px 5px 5px 5px gray;    
}   
 
a{
    color: violet;
}